@use 'shared/_colors' as c;
@use 'shared/_utils' as u;

.weather-display .latest-observations {

	&.main {
		width: 530px;
		margin: 0 auto;
		overflow-y: hidden;

		.column-headers {
			height: 20px;
			position: absolute;
			width: 100%;
		}

		.column-headers {
			top: 0px;

			div {
				display: inline-block;
				font-family: 'Star4000 Small';
				font-size: 24pt;
				position: absolute;
				top: -14px;
				@include u.text-shadow();
			}

			.temp {
				// hidden initially for english/metric switching
				display: none;

				&.show {
					display: inline-block;
				}
			}
		}

		.temp {
			left: 230px;
			width: 40px;
			text-align: right;
		}

		.weather {
			left: 280px;
			width: 140px;
		}

		.wind {
			left: 430px;
			width: 100px;
		}

		.observation-lines {
			min-height: 338px;
			padding-top: 10px;

			.observation-row {
				font-family: 'Star4000';
				font-size: 24pt;
				@include u.text-shadow();
				position: relative;
				height: 40px;
				margin-bottom: 20px;

				>div {
					position: absolute;
					top: 8px;
				}

				.location {
					left: 0px;
					width: 220px;
				}

				.wind {
					white-space: pre;
				}
			}
		}
	}
}